:root {
    --primary-color: #e83e8c;
    --secondary-color: #333;
    --background-color: #f9f9f9;
    --footer-bg-color: #222;
    --footer-text-color: #fff;
    --header-bg-color: #ffffff;
    --link-hover-color: #d6336c;
    --button-bg-color: #e83e8c;
    --button-hover-bg-color:
    --button-text-color: #fff;
}
